<form
  action=""
  class="flex flex-col gap- p-5 items-center justify-center mt-[10rem]"
>
  <div name="step1" class="flex flex-col gap-5 p-5 items-center justify-center">
    <label
      for=""
      class="md:text-5xl font-bold drop-shadow-md typewriter text-2xl flex-wrap"
    >
      <h1 class="">When do we start?</h1>
    </label>

    <p-calendar
      #date
      name="date"
      [(ngModel)]="flightSelectionService.startingDate"
      styleClass="my-inputswitch"
      (ngModelChange)="flightSelectionService.validateDates()"
    ></p-calendar>
  </div>
  @if(flightSelectionService.startingDate !== flightSelectionService.endingDate
  ){
  <div
    name="step2 "
    class="flex flex-col gap-5 p-5 items-center justify-center"
  >
    <label
      for=""
      class="md:text-5xl font-bold drop-shadow-md typewriter text-2xl flex-wrap"
    >
      <h1 class="">When do we come back?</h1>
    </label>
    <p-calendar
      #date
      name="date"
      [(ngModel)]="flightSelectionService.endingDate"
      styleClass="my-inputswitch"
      (ngModelChange)="flightSelectionService.validateDates()"
    ></p-calendar>
  </div>
  } @if(flightSelectionService.validateDates()){
  <button
    routerLink="/find-a-flight/passengers"
    class="flex gap-3 items-center justify-center font-bold text-xl border-2 border-black rounded-full px-5 py-1 transition-all duration-300 hover:text-gray-400 hover:border-gray-400"
  >
    <p class="drop-shadow-lg">Passengers</p>
    <ng-icon
      name="octPaperAirplane"
      class="font-bold drop-shadow-lg text-xl"
    ></ng-icon>
  </button>
  }
</form>
