<div class="flex flex-col w-screen h-screen justify-center items-center gap-5">
  <form action="" class="flex flex-col gap-15 p-10 items-center justify-center">
    <div name="part1" class="flex flex-col p-10 gap-5">
      <label
        for=""
        class="md:text-5xl font-bold drop-shadow-md typewriter text-2xl flex-wrap"
      >
        <h1 class="text-center">Where do we start?</h1>
      </label>

      <select
        [(ngModel)]="flightSelectionService.startingCity"
        name="selectedStartingCity"
        id=""
        class="min-w-[10rem] rounded-lg text-xl md:text-3xl text-center font-semibold bg-white"
        #selectedStartingCity
      >
        @for(city of flightSelectionService.citiesToSelect; track city.city ){
        <option class="border-black bg-white" [value]="city.code">
          {{ city.airport }}
        </option>
        }
      </select>
    </div>

    @if(flightSelectionService.startingCity !== ''){
    <div name="part2" class="flex flex-col gap-5 p-10">
      <label
        for=""
        class="md:text-5xl font-bold drop-shadow-md typewriter text-2xl flex-wrap"
      >
        <h1 class="text-center">What is a destination?</h1>
      </label>
      <select
        [(ngModel)]="flightSelectionService.selectedEndingCity"
        name="selectedEndingCity"
        id=""
        class="min-w-[10rem] rounded-lg text-xl md:text-3xl text-center font-semibold bg-white"
        #selectedEndingCity
      >
        @for(city of flightSelectionService.citiesToSelect; track city.city ){
        <option class="border-black bg-white" [value]="city.code">
          {{ city.airport }}
        </option>
        }
      </select>
    </div>
    }
    <button
      routerLink="/find-a-flight/date"
      class="flex gap-3 items-center justify-center font-bold text-xl border-2 border-black rounded-full px-5 py-1 transition-all duration-300 hover:text-gray-400 hover:border-gray-400"
    >
      <p class="drop-shadow-lg">Next</p>
      <ng-icon
        name="octPaperAirplane"
        class="font-bold drop-shadow-lg text-xl"
      ></ng-icon>
    </button>
  </form>
  <!-- <p>selected city is {{ flightSelectionService.startingCity }}</p>
  <p>selected city is {{ flightSelectionService.selectedEndingCity }}</p> -->
</div>
